user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 20000;
}

http {

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	gzip on;

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
	client_max_body_size 0;


    server {

        listen 80;
        server_name $DOMAIN;
        root /var/www/$DOMAIN;

        location / { 
           try_files $uri $uri/ /index.html;
        }
		
        location /$INSTANCE_PATH/ {

            if ($request_method = 'OPTIONS') {
              add_header 'Access-Control-Allow-Origin' '*';
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
              add_header 'Access-Control-Max-Age' 86400;
              add_header 'Content-Type' 'text/plain charset=UTF-8';
              add_header 'Content-Length' 0;
              return 204; break;
           }
           if ($request_method = 'GET') {
              add_header 'Access-Control-Allow-Origin' '*';
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
           }

           add_header Access-Control-Allow-Origin *;
           try_files $uri $uri/ /$INSTANCE_PATH/index.html;
        }
		
        location /$INSTANCE_PATH/alonso/ {
          try_files $uri $uri/ /$INSTANCE_PATH/alonso/index.html;
        }

        location /$INSTANCE_PATH/david/ {
          try_files $uri $uri/ /$INSTANCE_PATH/david/index.html;
        }
		
        location /$INSTANCE_PATH/sijie/ {
          try_files $uri $uri/ /$INSTANCE_PATH/sijie/index.html;
        }

        location /$INSTANCE_PATH/david/ui/pvna-twoport-graphical-1.0/ {
	  	  add_header Access-Control-Allow-Origin *;
	      try_files $uri $uri/ $uri.html /$INSTANCE_PATH/david/ui/pvna-twoport-graphical-1.0/index.html;
        }
        
        location /$INSTANCE_PATH/sijie/ui/fridge-gunt-default-1.0/ {
	  	  add_header Access-Control-Allow-Origin *;
	      try_files $uri $uri/ $uri.html /$INSTANCE_PATH/sijie/ui/fridge-gunt-default-1.0/index.html;
        }
        
        location /$INSTANCE_PATH/sijie/ui/fridge-etm2-1.0/ {
	  	  add_header Access-Control-Allow-Origin *;
	      try_files $uri $uri/ $uri.html /$INSTANCE_PATH/sijie/ui/fridge-etm2-1.0/index.html;
        }
        
        location /$INSTANCE_PATH/sijie/ui/fridge-enthalpy-1.0/ {
	  	  add_header Access-Control-Allow-Origin *;
	      try_files $uri $uri/ $uri.html /$INSTANCE_PATH/sijie/ui/fridge-enthalpy-1.0/index.html;
        }
        
        location /$INSTANCE_PATH/alonso/ui/drone-default-1.0/ {
	  	  add_header Access-Control-Allow-Origin *;
	      try_files $uri $uri/ $uri.html /$INSTANCE_PATH/alonso/ui/drone-default-1.0/index.html;
        }

        location /$INSTANCE_PATH/hooks/ {
	
			
            if ($request_method = 'OPTIONS') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'DELETE, GET, PUT, POST, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
              add_header 'Access-Control-Max-Age' 86400;
              add_header 'Content-Type' 'text/plain charset=UTF-8';
              add_header 'Content-Length' 0;
              return 204; break;
           }

           if ($request_method = 'DELETE') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'DELETE, GET, PUT, POST, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
           }

           if ($request_method = 'GET') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'DELETE, GET, PUT, POST, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
           }

           if ($request_method = 'POST') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'DELETE, GET, PUT, POST, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
           }

           if ($request_method = 'PUT') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true';
              add_header 'Access-Control-Allow-Methods' 'DELETE, GET, PUT, POST, OPTIONS';
              add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
           }

           proxy_pass          http://localhost:9000/hooks/;
           proxy_http_version 1.1;
           proxy_set_header    Host             $host;
           proxy_set_header    X-Real-IP        $remote_addr;
           proxy_set_header    X-Forwarded-For  $proxy_add_x_forwarded_for;
           proxy_read_timeout 1800;
           proxy_connect_timeout 1800;

         }
 
    }
  
}


