- id: git-pull-alonso
  execute-command: "/var/webhook/git-pull-alonso.sh"
  command-working-directory: "/var/webhook"
- id: git-pull-david
  execute-command: "/var/webhook/git-pull-david.sh"
  command-working-directory: "/var/webhook"
- id: git-pull-sijie
  execute-command: "/var/webhook/git-pull-sijie.sh"
  command-working-directory: "/var/webhook"