#!/bin/bash
export RELAY_MONITOR_AUDIENCE=$RELAY_AUDIENCE
export RELAY_MONITOR_SECRET=$RELAY_SECRET
export RELAY_MONITOR_LOG_LEVEL=debug
export RELAY_MONITOR_LOG_FORMAT=json
export RELAY_MONITOR_LOG_FILE=/var/log/relay-monitor/latency.log
export RELAY_MONITOR_THRESHOLD=100ms
export RELAY_MONITOR_INTERVAL=1s
export RELAY_MONITOR_NO_RETRIGGER_WITHIN=1m
export RELAY_MONITOR_TRIGGER_AFTER_MISSES=10
export RELAY_MONITOR_TOPIC=canary-st-data
export RELAY_MONITOR_COMMAND=
export METRICS_INTERVAL=5s
export RELAY_MONITOR_LISTEN_ADDR=:9106 
export HOME=/var/log/relay-monitor
relay-monitor server


