#!/bin/bash

# Make token
export RELAY_TOKEN_LIFETIME=30
export RELAY_TOKEN_SCOPE_READ=true
export RELAY_TOKEN_SCOPE_WRITE=false
export RELAY_TOKEN_SCOPE_OTHER=relay:stats
export RELAY_TOKEN_SECRET=$(<${SECRETS}/relay.pat)
export RELAY_TOKEN_AUDIENCE="${HTTPS_HOST}/access"
export RELAY_TOKEN_TOPIC=stats
export client_token=$(../bin/relay token)
# echo $client_token | decode-jwt
# Request Access
export STATUS_URL="${RELAY_TOKEN_AUDIENCE}/status"

export RESP=$(curl -s -X GET \
-H "Authorization: ${client_token}" \
				   $STATUS_URL)
echo $RESP	| jq -r '.'

