[Unit]
Description=github.com/practable/status serve
After=network.target 

[Service]
LimitNOFILE=99999
Environment=STATUS_BASEPATH_BOOK=/$INSTANCE_PATH/book
Environment=STATUS_BASEPATH_JUMP=/$INSTANCE_PATH/jump
Environment=STATUS_BASEPATH_RELAY=/$INSTANCE_PATH/access
Environment=STATUS_EMAIL_AUTH_TYPE=plain
Environment=STATUS_EMAIL_FROM=$STATUS_EMAIL_FROM
Environment=STATUS_EMAIL_HOST=$STATUS_EMAIL_HOST
Environment=STATUS_EMAIL_LINK=$STATUS_EMAIL_LINK
Environment=STATUS_EMAIL_PASSWORD=$STATUS_EMAIL_PASSWORD
Environment=STATUS_EMAIL_PORT=$STATUS_EMAIL_PORT
Environment=STATUS_EMAIL_SUBJECT=$STATUS_EMAIL_SUBJECT
# while our send to addresses are not secret, this step avoids receiving spam
Environment=STATUS_EMAIL_TO=$STATUS_EMAIL_TO
Environment=STATUS_HOST_BOOK=$DOMAIN
# in production use >5m
Environment=STATUS_HEALTH_EVENTS=100
Environment=STATUS_HEALTH_LAST=5m
Environment=STATUS_HEALTH_LOG_EVERY=5m
Environment=STATUS_HEALTH_STARTUP=5m
Environment=STATUS_HOST_BOOKJUMP=$DOMAIN
Environment=STATUS_HOST_RELAY=$DOMAIN
Environment=STATUS_HOST_JUMP=$DOMAIN
Environment=STATUS_HOST_RELAY=$DOMAIN
Environment=STATUS_LOG_LEVEL=trace
Environment=STATUS_LOG_FORMAT=text
Environment=STATUS_LOG_FILE=stdout
Environment=STATUS_PORT_PROFILE=6061
Environment=STATUS_PORT_SERVE=3007
Environment=STATUS_PROFILE=false
# in production use > 15min 
Environment=STATUS_QUERY_BOOK_EVERY=15m
Environment=STATUS_RECONNECT_JUMP_EVERY=1h
Environment=STATUS_RECONNECT_RELAY_EVERY=1h
Environment=STATUS_SCHEME_BOOK=https
Environment=STATUS_SCHEME_JUMP=https
Environment=STATUS_SCHEME_RELAY=https
Environment=STATUS_SECRET_JUMP=$JUMP_SECRET
Environment=STATUS_SECRET_BOOK=$BOOK_SECRET
Environment=STATUS_SECRET_RELAY=$RELAY_SECRET
Environment=STATUS_TIMEOUT_BOOK=5s


Type=simple
Restart=always
ExecStart=/usr/local/bin/status serve

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/status
ExecStartPre=/bin/chown syslog:adm /var/log/status
ExecStartPre=/bin/chmod 755 /var/log/status
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=status

[Install]
WantedBy=multi-user.target

