[Unit]
Description=github.com/practable/status serve
After=network.target 

[Service]
LimitNOFILE=99999
export STATUS_BASEPATH_BOOK=/$INSTANCE_PATH/book
export STATUS_BASEPATH_JUMP=/$INSTANCE_PATH/jump
export STATUS_BASEPATH_RELAY=/$INSTANCE_PATH/access
export STATUS_EMAIL_AUTH_TYPE=plain
export STATUS_EMAIL_FROM=$STATUS_EMAIL_FROM
export STATUS_EMAIL_HOST=$STATUS_EMAIL_HOST
export STATUS_EMAIL_LINK=$STATUS_EMAIL_LINK
export STATUS_EMAIL_PASSWORD=$STATUS_EMAIL_PASSWORD
export STATUS_EMAIL_PORT=$STATUS_EMAIL_PORT
export STATUS_EMAIL_SUBJECT=$STATUS_EMAIL_SUBJECT
# while our send to addresses are not secret, this step avoids receiving spam
export STATUS_EMAIL_TO=$STATUS_EMAIL_TO
export STATUS_HOST_BOOK=$DOMAIN
# in production use >5m
export STATUS_HEALTH_EVENTS=100
export STATUS_HEALTH_LAST=5m
export STATUS_HEALTH_LOG_EVERY=5m
export STATUS_HEALTH_STARTUP=5m
export STATUS_HOST_JUMP=$DOMAIN
export STATUS_HOST_RELAY=$DOMAIN
export STATUS_LOG_LEVEL=trace
export STATUS_LOG_FORMAT=text
export STATUS_LOG_FILE=stdout
export STATUS_PORT_PROFILE=6061
export STATUS_PORT_SERVE=3007
export STATUS_PROFILE=false
# in production use > 15min 
export STATUS_QUERY_BOOK_EVERY=15m
export STATUS_RECONNECT_JUMP_EVERY=1h
export STATUS_RECONNECT_RELAY_EVERY=1h
export STATUS_SCHEME_BOOK=https
export STATUS_SCHEME_JUMP=https
export STATUS_SCHEME_RELAY=https
export STATUS_SECRET_JUMP=$JUMP_SECRET
export STATUS_SECRET_BOOK=$BOOK_SECRET
export STATUS_SECRET_RELAY=$RELAY_SECRET
export STATUS_TIMEOUT_BOOK=5s


Type=simple
Restart=always
ExecStart=/usr/local/bin/status serve

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/status
ExecStartPre=/bin/chown syslog:adm /var/log/status
ExecStartPre=/bin/chmod 755 /var/log/status
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=status

[Install]
WantedBy=multi-user.target

