[Service]
Environment="GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}"
Environment="GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}"

Environment="GF_SERVER_DOMAIN=${GRAFANA_DOMAIN}"
Environment="GF_SERVER_ROOT_URL=${GRAFANA_ROOT_URL}"
Environment="GF_SERVER_SERVE_FROM_SUB_PATH=${GRAFANA_SERVE_FROM_SUB_PATH}"

Environment="GF_SERVER_HTTP_ADDR=127.0.0.1"
Environment="GF_SERVER_HTTP_PORT=${GRAFANA_PORT}"

Environment="GF_SERVER_REDIRECT_TO_CORRECT_DOMAIN=false"
